<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

	<!-- <pre>{{result |json}}</pre> -->
	{{test}}
	
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $scope.test = 'Hello World';

    $http.get("http://nodejs-service.default.svc.cluster.local:5000")
    .then(function(response) {
        $scope.result = response.data;
    });

});

</script>

</body>
</html>